@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.blue-btn {
    @apply bg-blue-700 px-5 py-2 rounded-md text-white cursor-pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.blue-btn:hover {
    background-color: #2563eb; /* Tailwind's blue-600 */
    transform: scale(1.05);
}

.blue-bg {
    background: rgb(18, 23, 68);
    background: linear-gradient(
        157deg,
        rgba(18, 23, 68, 1) 29%,
        rgba(62, 92, 158, 1) 67%
    );
}
.login-bg {
    background-image: url("../public/space-bg.jpg");
    background-position: center;
    background-size: cover;
}

.form-bg {
    background-image: url("../public/login-bg.jpg");
    background-position: center;
    background-size: cover;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(95, 120, 146, 0.574);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.055);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.form-select {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
